input {
  border: none;
  width: 215px;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 0px 5px;
  padding-top: 2px;
  border-bottom: 1px solid #a4bcd5;
  font-family: 'Montserrat', sans-serif;
}

input:focus{
  border: none;
  outline: none;
  border-bottom: 1px solid #d2a0d9;
  transition: border 0.2s linear;
}

.input-body{
  display: flex;
  flex-direction: row;
  margin: 0px 5px;
}

.input-display{
  font-size: 11px;
  padding: 4px 5px 2px 6px;
  letter-spacing: 0.5px;
  font-weight: 400;
  width: 215px;
}
